.card {
  width: 90%;
  margin: auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.head {
  display: flex;
}

.control {
  display: flex;
}

.control-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}